
{{- if eq .chezmoi.os "linux" -}}
#!/bin/sh

{{- if eq .chezmoi.osRelease.id "cachyos"}}
# Still in progress
exit

# CachyOS default installed packages https://github.com/CachyOS/cachyos-calamares/blob/cachyos-systemd-qt6/src/modules/netinstall/netinstall.yaml


if ! command -v yay &>/dev/null; then
	sudo pacman -Syu
	# cachyos repo contains `yay` package
	sudo pacman -S yay
fi
{{- end -}}
{{- end -}}
